.env
tmp
config.json
.vendor
*.sqlite3

# pre-commit config
.pre-commit-config.yaml

# ssh keys
id_rsa
.github_rsa

*.swp
**.orig

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.test

# Folders
_obj/
_test/
_vendor/
build/
release/

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe

*.swp
**.orig

# OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Linux
*~
.directory

# Windows
Thumbs.db
Desktop.ini

# RubyMine
.idea/

# TextMate
*.tmproj
*.tmproject
tmtags

# Vim
.*.sw[a-z]
*.un~
Session.vim
tags

# Emacs
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Vagrant
.vagrant

jenkins.properties
